::-webkit-scrollbar-track {
  background: #1E1E1E; /* Dark grey color, you can choose any color you like */
}

/* This part changes the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #353535; /* Medium grey color, this is the actual scrollbar */
  border-radius: 5px;
}

/* You can also change the scrollbar width and height */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}
/* Above CSS from:https://community.retool.com/t/dark-theme-white-space-behind-scroll-bar/34453 */

/* *{
  margin:0;
} */
#root {
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
  /* color: #e0e0e0; */
  /* scrollbar-color: #222; */

}

body {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #e0e0e0;
}


nav {
  display: flex;
  justify-content: end;
  width: 100vw;
}

/* Forms Section */
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #212529;
  color: #ffffff;
}

.forms form {
  background: #242424;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  width: 400px;
}

.forms h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #f0f0f0;
  text-align: center;
}

.forms label {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  color: #aaaaaa;
}

.forms input {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 16px;
  background: #2b2b2c;
  color: #ffffff;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  
}

.forms input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.6);
}

/* Buttons */
button {
  background-color: #2563eb;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 15px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #4983ff;
  transform: scale(1.05);
}
button:disabled {
  background-color: #5b5c5c;
  cursor: not-allowed;
}

/* Draft Cards */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #212529;
  padding: 3%;
  margin-top: 5vh;
  border-radius: 10px;
}

.draftCard {
  width: 25vw;
  min-width: 400px;
  height: 40vh;
  background-color: #343A40;
  color: white;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 1vw 1vw 0 1vw;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.cardBody{
  padding: 12px 4px;
  font-size: 12px;
}

.cardInfo {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

/* Editor Section */
.editorContainer {
  display: flex;
  background: #181818;
  border-radius: 10px;
  padding: 15px;
}

.ql-editor{

}

.versionDiv {
  width: 20vw;
  background-color: #181818;
  border-radius: 8px;
  color: white;

}

.editorDiv{
}

a{
  text-decoration: none;
  color: white;
}

.versionHead {
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

ul {
  max-width: fit-content;
margin-left: 0;
}

li {
  margin: 10px;
  list-style-type: none;
  color: #bdbdbd;
  transition: color 0.3s;
}

li:hover {
  color: #ffffff;
}

/* Responsive Design */
@media (max-width: 800px) {
  .forms form {
    width: 90%;
  }
  .editorContainer {
    flex-direction: column-reverse;
  }
  .versionDiv{
    width: 100%;
  }
}
